* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header,
footer {
    color: white;
    padding: 8px 16px;
    width: 100%;
    background-color: rgb(34, 32, 38);
}

main {
    color: rgb(34, 32, 38);
    padding: 8px 16px;
    width: 100%;
    background-color: whitesmoke;
}

nav {
    color: rgb(34, 32, 38);
    padding: 8px 16px;
    width: 100%;
    background-color: rgb(175, 175, 175);
}

article {
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 1px 1px rgba(3, 7, 18, 0.03),
        0px 1px 1px rgba(3, 7, 18, 0.05),
        0px 1px 1px rgba(3, 7, 18, 0.06),
        0px 1px 1px rgba(3, 7, 18, 0.08);
    border-radius: 8px;
    margin: 8px 0;
    padding: 16px;
    background-color: rgb(240, 240, 240);
}

section,
aside {
    border: 1px solid rgba(128, 128, 128, 0.255);
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
}

section {
    background-color: rga(255, 255, 255);
}